body {
  background: url('/img/horse_racing-18.jpg') no-repeat center center fixed;
  background-size: cover;
}

ul {
  list-style: none;
  list-style-type: none;
  padding: 0;
}

li {
  padding: 2px;
}

button {
  width: 55px;
}

.removeEventButton {
  width: 25px;
  background: #dc3545;
  color: white;
  border-radius: 15px;
}

[v-cloak] {
  display: none;
}

.page-header {
  color: white;
  background-image: url('/img/default_banner.jpg') ;
  border: 1px solid #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 20px 0 15px 0;
  min-height: 150px;
}

.myHeader {
  padding: 10px 5px;
  text-decoration: underline;
}

.sidemenu {
  background: #dddddde0;
  border: 1px solid #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 5px;
}

.contentArea {
  background: #dddddde0;
  border: 1px solid #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 5px;
}

.slip {
  background: #dddddde0;
  border: 1px solid #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 0;
}

.selectedItem {
  color: blue;
  text-shadow: 1px 1px 2px #000000;
}

.sidemenu ul li {
  background: #ebebeb;
  border: 1px solid #f4f4f3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  transition: background 1s;
}

.sidemenu ul li:hover {
  background: white;
  border: 1px solid gray;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: blue;
  transition: background 1s;
}

.oddDescription {
  font-weight: bold;
  text-align: center;
}

.oddListDescription {
  position: relative;
  top: 6px;
  left: 5px;
  font-weight: bold;
  text-align: left;
}

#odds ul li {
  background: #ddd;
  border: 1px solid gray;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 45px;
  transition: background 1s;
}

#odds ul li:hover {
  background: white;
  border: 1px solid gray;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 45px;
  transition: background 1s;
}

.bookings {
  font-size: 0.8em;
}

.booking {
  border: 1px solid gray;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
}

.booking:hover {
  background: #ebebeb;
  border: 1px solid gray;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
}
