<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="container" id="myApp">
    <div class="row">
      <div class="col page-header">
        <h1>My-Bet-Solution</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-4 p-1">
        <section class="sidemenu" id="sidemenu">
          <div class="myHeader">
            <h3>Events</h3>
          </div>
          <ul>
            <li v-for="myEvent in myEvents" :key="myEvent.eventid" v-cloak @click="selectEvent(myEvent)" :class="{selectedItem: myEvent === selectedEvent}">
              {{myEvent.description}} - {{myEvent.country}}
            </li>
          </ul>
        </section>
      </div>
      <div class="col-5 p-1">
        <section class="contentArea" id="contentArea" v-cloak>
          <div class="myHeader">
            <h3 v-if="selectedEvent.description">{{selectedEvent.description}} - {{selectedEvent.country}}</h3>
            <p v-if="!selectedEvent.description">Please select an event</p>
          </div>
          <div id="odds" v-show="showOdds" v-cloak>
            <h4>Offers</h4>
            <div v-if="isList">
              <ul>
                <li v-for="odd in selectedEvent.odds">
                  <span class="oddListDescription">{{odd.description}}</span><button type="button" class="btn btn-secondary float-right" @click="bookEvent(selectedEvent, odd)">{{odd.price}}</button>
                </li>
              </ul>
            </div>
            <div v-if="!isList">
              <div class="row p-4">
                <div class="col" v-for="odd in selectedEvent.odds" :key="odd.key">
                  <div class="oddDescription">
                    {{odd.description}}
                  <br>
                  <button type="button" @click="bookEvent(selectedEvent, odd)" class="btn btn-secondary">{{odd.price}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="col-3 p-1">
        <section class="slip" id="slip" v-cloak>
          <div class="myHeader">
            <h3>My bets
              <button type="button" class="btn btn-sm btn-danger float-right" v-show="myBookings.length > 0" @click="resetEvents">
                Reset
              </button>
            </h3>
          </div>
          <div class="col bookings" v-if="myBookings.length > 0">
            <ul>
              <li v-for="booking in myBookings" :key="booking.key" class="booking">
                <div class="row">
                  <div class="col">
                    {{booking.odd.price}}
                  </div>
                  <div class="col">
                    {{booking.odd.description}}
                    <button type="button" class="removeEventButton float-right" @click="removeBooking(booking)">X</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    {{booking.myEvent.renderingTemplate == 'towin' ? 'to win' : '1x2'}}
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    {{booking.myEvent.description}}
                  </div>
                </div>
              </li>
            </ul>
            <div class="stake">
              <label for="stake"><b>Stake</b></label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">£</div>
                </div>
                <input type="number" value="0" step="0.01" class="form-control form-control-sm" name="stake" id="stake" v-model="stake">
              </div>
            </div>
            <div class="winnings">
              <label for="winnings"><b>Potential winnings</b></label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">£</div>
                </div>
                <input type="number" value="0" step="0.01" class="form-control form-control-sm" name="winnings" id="winnings" v-model="calculateWin" disabled>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <script src="/js/app.js"></script>
</body>
</html>
